.remove-logo-btn{padding: 2px 5px;
    vertical-align: top;
    margin-left: 5px;}
    .current-logo-wrapper {
    margin-bottom: 15px;
}

.logo-preview-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.client-logo-preview {
    width: 135px;
    height: 135px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    background: #fff;
    display: block;
}

.remove-logo-btn {
    position: absolute;
    top: -8px;
    right: -8px;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 4px;

    background: #666;
    color: #fff;

    font-size: 20px;
    line-height: 28px;

    cursor: pointer;

    z-index: 5;
}

.remove-logo-btn:hover {
    background: #dc2626;
}