.product-card{
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.05);
    transition:.3s;
    display:flex;
    flex-direction:column;
    flex:1;
}

.product-card:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.product-image img{
    width:100%;
    height:240px;
    object-fit:cover;
    display:block;
}

.product-content{
    height:100%;
    display: flex;
    flex-direction: column;
    padding:24px;
    flex: 1;
}

.product-content h3{
    font-family:"Playfair Display", serif;
    font-size:24px;
    line-height:1.3;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    min-height:62px;
}

.product-content p{
    color:#666;
    line-height:1.7;
    margin-bottom:24px;
}

.enquiry-btn{
    width: 100%;
    background: linear-gradient(135deg, #ef6d28, #c88b52);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 12px 35px rgba(239, 109, 40, .25);
    margin-top: auto;
}
.enquiry-btn:hover{
    transform:translateY(-4px);
}