*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
   overflow-x:hidden;
}
body{
    overflow-x:hidden;
    font-family: inter, sans-serif;
    /* padding-top: 70px;  Adjust to header height */
}
.container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    padding:0 20px;
}
.page{
    background: #faf7f4;
}
#products,
#clients,
#contact, #about, #sustainability {
  scroll-margin-top: 100px;
}

